.header {
    /* Background: */
    height: 10vh;
    background: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: $zindex-5;
}

.logo {
    width: 113px;
    height: auto;
}

.header__callToAction {
    padding: 10px;
    /* Contour: */
    border: 2px solid $gold;
    border-radius: 2px;
    /* TROUVEZ VOTRE CAFÉ: */
    font-family: $font_callBack;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 16px;
    color: $gold;
}
