footer.footer
  .footer__container
    .footer__logo
      img.footer__logoImg(src="../img/logo-nespresso-footer.svg", alt="")
    hr.footer__separtor
    .footer__content

      .footer__contentTop
        ul.contentTop__toplist
          li.contentTop__listEl
            a(href="https://www.nespresso.com/fr/fr/service-customer-care" target="_blank") Contact 
          li.contentTop__listEl
            a(href="https://www.nespresso.com/evenements/" target="_blank") Évènements
          li.contentTop__listEl
            a(href="https://www.nespresso.com/pro/fr/fr/home" target="_blank") Nespresso Professionnel
          li.contentTop__listEl
            a(href="https://www.nespresso.com/fr/fr/storeLocator" target="_blank") Points de vente
          li.contentTop__listEl
            a(href="https://www.nespresso.com/entreprise/" target="_blank") Entreprise durable
          li.contentTop__listEl
            a(href="https://www.nespresso.com/ecom/medias/sys_master/public/10341599739934/Communications-techniques-Contact-BV-FR-maj-2017.pdf" target="_blank") Communication technique
          li.contentTop__listEl
            a(href="https://www.nespresso.com/carrieres/" target="_blank") Carrières
          li.contentTop__listEl
            a(href="https://www.nespresso.com/shared_res/nc2/docs/FR_NESPRESSO_Charte_concurrence_libre_et_loyale_FR.pdf" target="_blank") Charte de concurrence

      .footer__bot
        .footer__botSocialMedia 
          span.footer__botSocialMedia__text Suivez-nous
          span.footer__botSocialMedia__icons
            a(href="https://www.instagram.com/nespresso/" target="_blank")
              img(src="img/instagram-logo.svg", alt="Nespresso instagram")
          span.footer__botSocialMedia__icons
            a(href="https://www.facebook.com/nespresso/" target="_blank")
              img(src="img/facebook-logo.svg", alt="Nespresso facebook")
          span.footer__botSocialMedia__icons
            a(href="https://twitter.com/Nespresso" target="_blank")
              img(src="img/twitter-logo.svg", alt="Nespresso twitter")
        
        .footer__lawInfos
          a(href="https://www.nespresso.com/fr/fr/legal" target="_blank") Mentions légales 
          span.footer__lawInfos__separtor
          a(href="https://www.nespresso.com/fr/fr/cookies" target="_blank") Cookies
          span.footer__lawInfos__separtor
          a(href="https://www.nespresso.com/fr/fr/legal" target="_blank") Conditions générales de vente
        
        .footer__Copyright Copyright 2017-2018 - Nespresso<br>All Rights Reserved