<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Nespresso | Votre café idéal
    link(rel="icon", href="../img/favicon-nespresso.ico")
    link(rel="stylesheet", href="css/styles.css")
    script( src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js")
    script(async src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js")
    script(async src="//cdn.bootcss.com/tween.js/r14/Tween.min.js")
    script(async src="js/script.js")
  body
    .container
      header.header
        a(href="#")
          img.logo(src="../img/logo-nespresso.svg", alt="logo nesspresso")
        a.header__callToAction(href="#") Trouver votre café
    