@charset "UTF-8";

// Fonts
$title-font: 'Trebuchet', 'Open sans', 'Helvetica', sans-serif;
$description-font: 'Trebuchet', 'Open sans', 'Helvetica', sans-serif;

$button-font:'Lato', 'Open sans', 'Helvetica', sans-serif;

$font-callBack : 'Open sans', sans-serif;

// Colors
$white: #ffffff;
$gold: #CBA15A;
$blue: #1F292F;

$light-grey: #D2D2D2;
$grey: #E5E5E5;
$black: #4A4A4A;

// Box shadow
$box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.05);
$box-shadow-action: 0px 0px 20px 0px rgba(0, 0, 0, 0.14);
$box-shadow-action-hover: 0px 0px 30px 0px rgba(0, 0, 0, 0.2);

// Border radius
$border-radius: 3px;

// Transition
$transition: all 0.3s ease-in-out;

// Text shadow
$text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);

// Breakpoints
$phone: 544px;
$tablet: 768px;
$desktop: 992px;
$wide-desktop: 1200px;

// Z-index
$zindex: 1;
$zindex-2: 5;
$zindex-3: 10;
$zindex-4: 15;
$zindex-5: 20;
$zindex-6: 25;
$zindex-7: 30;