.intensity__bkg{
    fill:#E5E5E5;
}

.intensity__gold{
    fill:#CBA15A;
}

.intensity__perforate{
    fill:#FFFFFF;
    border: none;
    width: 300px !important;
    height: 30px !important;
}

#Calque_1 {
    width: 400px !important;
    height: 30px !important;
    overflow: none !important;
}