.intensity__bkg{
    fill:#E5E5E5;
}

.intensity__gold{
    fill:#CBA15A;
    will-change: width;
    transition-property: width;
    transition-duration: .3s;
    transition-timing-function: ease-in-out;
}

.intensity__perforate{
    fill:#FFFFFF;
    border: none;
    width: 300px !important;
    height: 30px !important;
}

#Calque_1 {
    width: 390px !important;
    height: 30px !important;
    overflow: none !important;
}


#Rectangle-12-2.intensity__gold.intensity__gold-1{
    width: 20px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-2{
    width: 50px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-3{
    width: 80px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-4{
    width: 110px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-5{
    width: 140px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-6{
    width: 160px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-7{
    width: 190px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-8{
    width: 220px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-9{
    width: 250px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-10{
    width: 280px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-11{
    width: 310px;
}
#Rectangle-12-2.intensity__gold.intensity__gold-12{
    width: 360px;
}