.findYourCoffee {
  display: flex;
  flex-direction: column;
  @include medium-2 {
    flex-direction: row;
  }
}

.findYourCoffee__header {
  z-index: $zindex-2;
  position: relative;
  @include medium-2 {
    width: 50vw;
  }
}

.findYourCoffee__headerContent {
  padding: 30px 25px;
  background: $blue;
  color: $light-grey;
}