// HERO SECTION
.hero {
  position: relative;
  height: 100vh;
  background-color:$black-background;
}

// .hero__scrollIndication {
//   position: absolute;
//   left: 50%;
//   bottom: 50px;
//   transform: translateX(-50%);
// }

.hero__capsule {
  width: 70vw;
  height: auto;
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);

  @include medium {
    width: 40vw;
  }

  img.logoBackground {
    width: 100%;
    height: auto;
    z-index: $zindex;
  }
}

// Capsule
.hero__content {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  animation: mooving-capsule 1.9s ease-in-out infinite;
  will-change: transform;
  width: 30%;
  height: auto;
  z-index: $zindex-2;

  @include medium {
    width: 25%;
  }
}

.hero__cta {
  margin-top: 30px;
  position: relative;
  left: -40%;
  width: 180%;
  opacity: .5;
  font-size: 14px;
  color: $gold;
  text-align: center;
  font-family: $title-font;
  letter-spacing: 1.2px;
  transition: opacity 0.15s ease-in-out;
}

.hero__content:hover .hero__cta {
  opacity: 0.9;
}

@keyframes mooving-capsule {
  0% {
    transform:translate(-50%, -50%);
  }

  50% {
    transform:translate(-50%, -60%);
  }

  100% {
    transform:translate(-50%, -50%);
  }
}