// HERO SECTION
.hero {
    position: relative;
    height: 90vh;
    background-color:#1B1B1B;
}

.hero__scrollIndication {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
}

.hero__capsule {
    width: 80vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    img.logoBackground {
        width: 100%;
        height: auto;
        z-index: $zindex;
    }

    img.capsulePath {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: auto;
        z-index: $zindex-2;
    }

}