section.coffeeFamilies
  .coffeeFamilies__header
    h1 EXPÉRIMENTEZ
    h2 Un café qui a de l'âme
    p Trois familles aromatiques de café mise au point pour une plus grande palette de goûts à déguster.

  .coffeeFamilies__coffeBeans
    .coffeeBeans__slider
        button.coffeeBeans__sliderBtn.coffeeBeans__sliderBtnPrev 
          img(src="../img/arrow-left.png")
          
        .coffeeBeans__sliderCarousel
          .coffeeBeans__slide.currentSlide(data-id="0")
            img(src="img/coffee-bean-fruity.png")
          .coffeeBeans__slide(data-id="1")
            img(src="img/coffee-bean-fruity.png")
          .coffeeBeans__slide(data-id="2")
            img(src="img/coffee-bean-fruity.png")

        button.coffeeBeans__sliderBtn.coffeeBeans__sliderBtnNext
          img(src="../img/arrow-right.png")

    .coffeeBeans__content
      .coffeeBean__fruityBean.coffeeBean.coffeeBean--active
        .coffeeBean__family Fruité
        .coffeeBean__description
          p Des capsules aux notes subtiles de bouquets fleuris, de confiture de fruits rouges ou d’agrumes.
        .coffeeBean__tasteNotes
          .tasteNotes__content
            img(src="../img/aromatic_notes/vin-fruite.svg", alt="Vin fruité")
            p Vin fruité

          .tasteNotes__content
            img(src="../img/aromatic_notes/floral.svg", alt="Floral")
            p Floral

          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Agrume

      .coffeeBean__intenseBean.coffeeBean
        .coffeeBean__family Intense
        .coffeeBean__description
          p Des capsules corsées, avec des arômes de cacao et des notes maltées et boisées, elles sont intensément torréfiées et épicées.
        .coffeeBean__tasteNotes
          .tasteNotes__content
            img(src="../img/aromatic_notes/vin-fruite.svg", alt="Vin fruité")
            p Épicé

          .tasteNotes__content
            img(src="../img/aromatic_notes/floral.svg", alt="Floral")
            p Malté

          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Boisé
          
          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Cacao

          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Intensément torréfié

      .coffeeBean__balancedBean.coffeeBean
        .coffeeBean__family Équilibré
        .coffeeBean__description
          p Des capsules au goût onctueux, avec des notes de miel et de céréales, le tout avec un arrière goût grillé.
        .coffeeBean__tasteNotes
          .tasteNotes__content
            img(src="../img/aromatic_notes/vin-fruite.svg", alt="Vin fruité")
            p Biscuits

          .tasteNotes__content
            img(src="../img/aromatic_notes/floral.svg", alt="Floral")
            p Céréales

          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Grillé

          .tasteNotes__content
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Miel