svg.quizzIntensity(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 183 12" style="enable-background:new 0 0 183 12;" xml:space="preserve")
  circle.svgIntensity.intensity-1(cx="6" cy="6" r="6")
  circle.svgIntensity.intensity-2(cx="25" cy="6" r="6")
  circle.svgIntensity.intensity-3(cx="44" cy="6" r="6")
  circle.svgIntensity.intensity-4(cx="63" cy="6" r="6")
  circle.svgIntensity.intensity-5(cx="82" cy="6" r="6")
  circle.svgIntensity.intensity-6(cx="101" cy="6" r="6")
  circle.svgIntensity.intensity-7(cx="120" cy="6" r="6")
  circle.svgIntensity.intensity-8(cx="139" cy="6" r="6")
  circle.svgIntensity.intensity-9(cx="158" cy="6" r="6")
  circle.svgIntensity.intensity-10(cx="177" cy="6" r="6")