section.findYourCoffee
  .cup
    include ./coffee-cup-svg.pug
    .cup__indicator
      img(src="../img/find__etap.svg", alt="étape quizz")
  

  .findYourCoffee__header
    .findYourCoffee__headerContent
      h1.findYourCoffee__headerOnTitle TROUVEZ
      h2.findYourCoffee__headerTitle Votre café idéal
      p.findYourCoffee__headerText Découvrez le café qui vous correspond le mieux à travers une expérience en quelques réponses.

    .quizz
      .quizz__questionList

        .quizz__start.question--displayed
          .quizz__startTitle.italic Trouvez la capsule qui vous correspond
          .quizz__startButton.button
            a(href="#" title="Refaire le test") Commencer

        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Comment aimez-vous votre café ?
          .quizz__questionIndividualContent
            img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            p Fort
        
        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Question 2
          .quizz__questionIndividualContent
            img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            p Fort

        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Question 3
          .quizz__questionIndividualContent
            img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            p Fort

        .quizz__restart
          .quizz__restartTitle.italic Refaire le test ?
          .quizz__restartButton.button
            a(href="#" title="Refaire le test") Recommencer

        .quizz__buttons
          .quizz__buttonsPrevious.button
            a(href="#" title="Question précédente") Précédent
          
          .quizz__buttonsNext.button
            a(href="#" title="Question suivante") Suivant
          
          .quizz__buttonsValidate.button
            a(href="#" title="Valider et découvrir ma capsule") Découvrir ma capsule
  
  .capsuleResult

    .capsuleResult__capsule
      .capsuleResult__capsuleShortDescription
      .capsuleResult__capsuleImg
      .capsuleResult__capsuleName
      .capsuleResult__capsuleAromas
      .capsuleResult__capsuleIntensity
      .capsuleResult__capsuleBitterness
      .capsuleResult__capsuleAcidity
      .capsuleResult__capsuleCorps
      .capsuleResult__capslueRoasting
      .capsuleResult__button

    .capsuleResult__description
      h1.findYourCoffee__headerOnTitle VOLLUTO
      h2.findYourCoffee__headerTitle La capsule qui vous correspond
      p.findYourCoffee__headerText Pur Arabica d’Amérique du Sud, Linizio Lungo est un mélange de cafés Brésiliens et Colombiens, et particulièrement rond en bouche. La torréfaction séparée des grains permet de garder des notes céréales maltées typique de la variété Bourbon tout en gardant son caractère doux et soyeux.