svg.quizzIntensity(version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 183 12" style="enable-background:new 0 0 183 12;" xml:space="preserve")
  circle.svgIntensity.svgIntensity--gold(cx="6" cy="6" r="6" data-intensity="1")
  circle.svgIntensity.svgIntensity--gold(cx="25" cy="6" r="6" data-intensity="2")
  circle.svgIntensity.svgIntensity--gold(cx="44" cy="6" r="6" data-intensity="3")
  circle.svgIntensity.svgIntensity--gold.svgIntensity--active(cx="63" cy="6" r="6" data-intensity="4")
  circle.svgIntensity.svgIntensity--grey(cx="82" cy="6" r="6" data-intensity="5")
  circle.svgIntensity.svgIntensity--grey(cx="101" cy="6" r="6" data-intensity="6")
  circle.svgIntensity.svgIntensity--grey(cx="120" cy="6" r="6" data-intensity="7")
  circle.svgIntensity.svgIntensity--grey(cx="139" cy="6" r="6" data-intensity="8")
  circle.svgIntensity.svgIntensity--grey(cx="158" cy="6" r="6" data-intensity="9")
  circle.svgIntensity.svgIntensity--grey(cx="177" cy="6" r="6" data-intensity="10")