section.findYourCoffee
  .cup.active--content
    include ./coffee-cup-svg.pug
    .cup__indicator
      //- .cup__questionCount 1 / 3
      //- img(src="../img/find__etap.svg", alt="étape quizz")
  
  .capsuleResult
    .capsuleResult__capsule
      .capsuleResult__capsuleShortDescription.italic Doux et Léger
      .capsuleResult__capsuleImg
        img(src="../img/gammes_capsules/capsule-espresso-volluto-nespresso.png", alt="capsule espresso volluto")

      .capsuleResult__capsuleName.gold Volluto
      .capsuleResult__capsuleAromas.italic Biscuit • Fruité
      .capsuleResult__capsuleIntensity.italic intensité
      
      .capsuleResult__capsuleCaracteristics
        .capsuleResult__capsuleBitterness.italic amertume
        .capsuleResult__capsuleAcidity.italic acidité
      
      .capsuleResult__capsuleCaracteristics
        .capsuleResult__capsuleCorps.italic corps
        .capsuleResult__capslueRoasting.italic torréfaction
      
      .capsuleResult__button.button
        a(href="#" title="" target="_blank") Acheter

  .findYourCoffee__header
    .findYourCoffee__headerContent.active--header
      h1.findYourCoffee__headerOnTitle TROUVEZ
      h2.findYourCoffee__headerTitle Votre café idéal
      p.findYourCoffee__headerText Découvrez le café qui vous correspond le mieux à travers une expérience en quelques réponses.

    .capsuleResult__description
      h1.findYourCoffee__headerOnTitle VOTRE CAPSULE
      h2.findYourCoffee__headerTitle Volluto
      p.findYourCoffee__headerText Pur Arabica d’Amérique du Sud, Linizio Lungo est un mélange de cafés Brésiliens et Colombiens, et particulièrement rond en bouche. La torréfaction séparée des grains permet de garder des notes céréales maltées typique de la variété Bourbon tout en gardant son caractère doux et soyeux.

    .quizz
      .quizz__questionList

        .quizz__start.question--displayed
          .quizz__startTitle.italic Trouvez la capsule qui vous correspond
          .quizz__startButton.button
            a(href="#" title="Refaire le test") Commencer

        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Comment aimez-vous votre café ?
          .quizz__questionIndividualContent
            .quizz__firstQuestion
              include ./findYourCoffee-intensity-svg.pug
              //- img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            
            p.italic.gold Fort
        
        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Question 2
          .quizz__questionIndividualContent
            img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            p Fort

        .quizz__questionIndividual
          .quizz__questionIndividualTitle.italic Question 3
          .quizz__questionIndividualContent
            img(src="../img/intensity-circles.svg", alt="Determinez l'intensité que vous aimez")
            p Fort

        .quizz__buttons
          .quizz__buttonsPrevious.button
            a(href="#" title="Question précédente") Précédent
          
          .quizz__buttonsNext.button
            a(href="#" title="Question suivante") Suivant
          
          .quizz__buttonsValidate.button
            a(href="#" title="Valider et découvrir ma capsule") Découvrir ma capsule

      .capsuleResult__restart
        .capsuleResult__restartTitle.italic Refaire le test ?
        .capsuleResult__restartButton.button
          a(href="#" title="Refaire le test") Recommencer