section.machine
  .machine__header
    h1 POUR L’ACCOMPAGNER
    h2 Découvrez la gamme d’accessoire Nespresso
    p Pour parfaire votre café, découvrez l’ensemble de la gamme d’accessoires Nespresso.
    .data__buyWrapper
      .data__buy.button
            a(href="https://www.nespresso.com/fr/fr/machinelistblock" title="" target="_blank") Découvrir
  .machine__imgWrapper
    img(src="img/coffee-machine.png", alt="")