section.machine
  .machine__header
    h1 POUR L’ACCOMPAGNER
    h2 Découvrez la gamme d’accessoire Nespresso
    p Pour parfaire votre café, découvrez l’ensemble de la gamme d’accessoires Nespresso.
    .machine__button.button
          a(href="#" title="" target="_blank") Découvrir
  .machine__imgWrapper
    img(src="img/coffee-machine.png", alt="")