section.meetEmployees
  .meetEmployees__farmerWrapper
    img(src="../img/meet_employees/employees-humberto-galeano-coffee-farmer.jpg", alt="Humberto Galeano")

  .meetEmployees__contentWrapper
    .meetEmployees__header
      h1 RENCONTREZ

    .meetEmployees__employees
      .employees__employee
        .employees__employeeContent
          .employee__name.blue Humberto Galeano
          .employee__country.italic.gold
            span |
            span.country__span Brésil
          
          p.employee__quote Nespresso respecte la qualité de mon travail et m’accompagne au quotidien dans la production de mon café.
  
          .employee__icons
            .icons__icon
              img(src="../img/meet_employees/icons/sun.svg", alt="Jours d'ensoleillement")
              .icon__data.icon__dataSun.blue 176 jours / an
  
            .icons__icon
              img(src="../img/meet_employees/icons/altitude.svg", alt="Altitude")
              .icon__data.icon__dataAltitude.blue 910 m
  
            .icons__icon
              img(src="../img/meet_employees/icons/rain.svg", alt="Jours de pluie")
              .icon__data.icon__dataRain.blue 135 jours / an
          
        .employee__slider
          .slider__counter.italic.blue - 1 / 3
          .slider__arrows
            .arrows__arrowLeft.slider__arrow
              img(src="../img/arrow-left-white.svg", alt="arrow left")
            .arrows__arrowRight.slider__arrow
              img(src="../img/arrow-right-white.svg", alt="arrow right")