section.understandIntensity
  .understandIntensity__header
    h1 COMPRENEZ
    h2 L’intensité de votre café
    p Indépendante du pourcentage de caféine, l’intensité est définie en fonction du degré de torréfaction, du corps et de l'amertume. L’acidité quant-à elle lui apporte sa vivacité.
  
  .understandIntensity__morphing  
    .morphing__svg
      svg(width='200', height='200', viewbox='0 0 260 260')
        g(fill='none', fill-rule='evenodd')
          g(transform='translate(0 6)')
            polygon(id="Rectangle-5" fill='#252525' points='30 0 220 35 260 230 0 250')
            polygon(id="Rectangle-4" fill='#2F2F2F' points='50 20 200 55 240 210 20 230')
            polygon(id="Rectangle-3" fill='#393939' points='70 40 180 75 220 190 40 210')
            polygon(id="Rectangle-2" fill='#434343' points='90 60 160 95 200 170 60 190')
            polygon(id="Rectangle-1" fill='#4D4D4D' points='100 80 150 105 175 160 80 175')
          polygon.polymorph(id="line" style='color:#CBA15A;' stroke-width='1', stroke='currentColor', points='70 40 160 95 220 190 60 190')

 
    .morphing__infos
      .infos__info
        span Amertume
        span.info__arrow
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p.italic L'amertume est une saveur de base perçue sur les papilles de la langue. L'amertume est un élément indispensable à l'espresso pour lui donner de la persistance en bouche.
      
      .infos__info.info--active
        span Acidité
        span.info__arrow
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p.italic La saveur de base perçue sur les côtés de la langue, donne de la vivacité au café.

      .infos__info
        span Corps
        .info__arrow
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p.italic Un café qui a du corps est épais en bouche, et très présent. Un café qui a peu de corps est en revanche perçu comme aqueux et fluide.

      .infos__info
        span Torréfaction
        span.info__arrow
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p.italic L'opération qui consiste à faire « griller » le café vert et qui permet de révéler l’ensemble des saveurs et arômes du café.
