//- // Generator: Adobe Illustrator 22.0.1, SVG Export Plug-In . SVG Version: 6.00 Build 0)
//- svg#Calque_1(version='1.1' , width="300" height="30")
//-   g#Page-1
//-     g#map__intensite
      
//-       rect#Rectangle-12.intensity__bkg(width='400', height='12')
//-       rect#Rectangle-12-2.intensity__gold(width='200', height='12')
//-       g
//-         path#Combined-Shape.intensity__perforate(d='M0,0h241v12H0V0z M6,12c3.3,0,6-2.7,6-6S9.3,0,6,0S0,2.7,0,6S2.7,12,6,12z M25,12\
//-         c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S21.7,12,25,12z M44,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S40.7,12,44,12z M63,12\
//-         c3.3,0,6-2.7,6-6s-2.7-6-6-6c-3.3,0-6,2.7-6,6S59.7,12,63,12z M82,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S78.7,12,82,12z\
//-         M101,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S97.7,12,101,12z M120,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S116.7,12,120,12z\
//-         M139,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S135.7,12,139,12z M158,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S154.7,12,158,12\
//-         z M177,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S173.7,12,177,12z M197,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6\
//-         S193.7,12,197,12z M216,12c3.3,0,6-2.7,6-6s-2.7-6-6-6s-6,2.7-6,6S212.7,12,216,12z M235,12c3.3,0,6-2.7,6-6s-2.7-6-6-6\
//-         s-6,2.7-6,6S231.7,12,235,12z', width='200', height='30')





svg#Calque_1(version='1.1')

  g#Page-1
    g#map__intensite
      rect#Rectangle-12.intensity__bkg(x='16.4', y='7.2', width='359.3', height='17.9')
      rect#Rectangle-12-2.intensity__gold(x='16.4', y='7.2', width='359.3', height='17.9')
      path#Combined-Shape.intensity__perforate(d='M13,3.2h368v25.2H13V3.2z M25.4,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9s-8.9,4-8.9,8.9\
      S20.4,25.1,25.4,25.1z M53.7,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9s-8.9,4-8.9,8.9S48.8,25.1,53.7,25.1z M82,25.1\
      c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9s-8.9,4-8.9,8.9S77.1,25.1,82,25.1z M110.3,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9\
      c-4.9,0-8.9,4-8.9,8.9S105.4,25.1,110.3,25.1z M138.7,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9\
      S133.8,25.1,138.7,25.1z M167,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9S162.1,25.1,167,25.1z M195.3,25.1\
      c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9s-8.9,4-8.9,8.9S190.4,25.1,195.3,25.1z M223.7,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9\
      c-4.9,0-8.9,4-8.9,8.9S218.7,25.1,223.7,25.1z M252,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9\
      S247.1,25.1,252,25.1z M280.3,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9S275.4,25.1,280.3,25.1z M310.1,25.1\
      c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9S305.2,25.1,310.1,25.1z M338.4,25.1c4.9,0,8.9-4,8.9-8.9\
      s-4-8.9-8.9-8.9c-4.9,0-8.9,4-8.9,8.9S333.5,25.1,338.4,25.1z M366.8,25.1c4.9,0,8.9-4,8.9-8.9s-4-8.9-8.9-8.9s-8.9,4-8.9,8.9\
      S361.9,25.1,366.8,25.1z')
