section(class="coffeeFamilies")
  div(class="coffeeFamilies__header")
    h1 EXPÉRIMENTEZ
    h2 Un café qui a de l'âme
    p Trois familles aromatiques de café mise au point pour une plus grande palette de goûts à déguster.

  div(class="coffeeFamilies__coffeBeans")
    div(class="coffeeBeans__slider")

      div(class="arrows")
        img(src="../img/arrow-left.png", alt="arrow left")

      div(class="coffeeBeans__images")
        img(class="bean", src="../img/coffee-bean-fruity.png", alt="Famille aromatique fruité")
        img(class="bean bean--active", src="../img/coffee-bean-fruity.png", alt="Famille aromatique fruité")
        img(class="bean", src="../img/coffee-bean-fruity.png", alt="Famille aromatique fruité")

      div(class="arrows")
        img(src="../img/arrow-right.png", alt="arrow right")

    div(class="coffeeBeans__content")
      div(class="coffeeBean__fruityBean coffeeBean coffeeBean--active")
        div(class="coffeeBean__family") Fruité
        div(class="coffeeBean__description")
          p Des capsules aux notes subtiles de bouquets fleuris, de confiture de fruits rouges ou d’agrumes.
        div(class="coffeeBean__tasteNotes")
          div(class="tasteNotes__content")
            img(src="../img/aromatic_notes/vin-fruite.svg", alt="Vin fruité")
            p Vin fruité

          div(class="tasteNotes__content")
            img(src="../img/aromatic_notes/floral.svg", alt="Floral")
            p Floral

          div(class="tasteNotes__content")
            img(src="../img/aromatic_notes/agrume.svg", alt="Agrume")
            p Agrume
      
  

      div(class="coffeeBean__intenseBean coffeeBean")

      div(class="coffeeBean__balancedBean coffeeBean")