
section.coffeeOrigins
  .coffeOrigins__wrapperMap
    include ./map-svg.pug

  .coffeeOrigin__wrapperContent
    .coffeeOrigins__header
      h1.header__onTitle DÉCOUVREZ
      h2.header__title Les origines de vos cafés
      p.header_text Un café parfait n’est pas le fruit du hasard. Cela signifie que nous repoussons les limites sans compromis à chaque étape de la longue chaîne de valeur, de l’arbre à la tasse, créant délibérément nos Grands Crus.

    .coffeeOrigins__countries
      .countries__nav 
        .nav_countriesList
          a.country.activeCountry(href="#" data-country="Mexique") Mexique
          a.country(href="#" data-country="Costa Rica") Costa Rica
          a.country(href="#" data-country="Guatemala") Guatemala
          a.country(href="#" data-country="Colombie") Colombie
          a.country(href="#" data-country="Brésil") Brésil
          a.country(href="#" data-country="Éthiopie") Éthiopie
          a.country(href="#" data-country="Kenya") Kenya
          a.country(href="#" data-country="Inde") Inde
          a.country(href="#" data-country="Indonésie") Indonésie
        
        .nav__line
          .nav__lineBorder
      //- button.countries__btnPrevious(type="button") previous 
      //- .countries__currentCapsules Div capsule
      //- button.countries__btnNext(type="button") next

    .capsules__slider
      .slider__content
        .arrows.slider_previousBtn
          img(src="../img/arrow-left.png", alt="arrow left")

        //- .slider__contentCapsules
        .slider__contentCapsulesWrapper

        .arrows.slider_nextBtn
          img(src="../img/arrow-right.png", alt="arrow right")
        
      .slider__data
        .data__name Kazaar
        .data__aroma Intense - Boisé
        .data__line
        .data__description Exceptionnellement intense et Sirupeux
        .data__intensity Intensité
          .intensity__svg
              include ./coffeeOrigins-intensity-svg.pug
          .intensity__strength | Moyen
          
              //- img(src="../img/intensity-circles.svg", alt="intensity")

        .data__buyWrapper
          .data__buy.button
            a(href="#" title="") Acheter