<svg id="CoffeeCup" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 301 345.4">
  <style>.st0{fill:#48391F;} .st1{fill:#FFFFFF;} .st2{fill:none;stroke:#CBA15A;stroke-width:2;} .st3{fill:none;stroke:#CBA15A;} .st4{fill:#FBFBFB}</style>
  <path class="st0 cup__fill" d="M149.2 201.9c-36.6 0-66.2 7.1-66.2 15.9 0 .5.1 1 .3 1.4V341h132.2V217.8c0-8.8-29.7-15.9-66.3-15.9z" id="coffeeFill"/>
  <path class="st4 cup__background" d="M-3.8-5.3v73.8H0v276.7h301V68.5h5.4V-5.3H-3.8zm222.3 92.5l-12 132c-5.4 5.5-15.3 12-54 13.9-38.7 1.9-58.2-12.5-58.2-12.5L79.9 86.4s-.1-16.9 69.3-16.9c74.1 1.6 69.3 17.7 69.3 17.7z"/>
  <g id="cup__path">
    <g id="tasse" transform="translate(1 1)">
      <g id="base" transform="translate(0 108)"><path id="Shape" class="st2" d="M209 69c52.9 7 89.8 23.1 89.8 41.9 0 25.2-66.9 55.6-149.4 55.6S0 136.1 0 110.9c0-18.6 36.5-34.6 88.9-41.7"/>
        <path class="st3" d="M208.7 71.6c48.7 6.9 82.4 22 82.4 39.5 0 24-63.5 43.1-141.8 43.1S7.6 135.2 7.6 111.1c0-17.4 33.3-32.5 81.5-39.4"/>
        <path class="st3" d="M291.1 109.7c0 24-63.4 39.9-141.7 39.9S8.1 131.7 8.1 107.7"/>
        <path class="st3" d="M205.5 110.2c5.7 3.1 9 6.8 9 10.7 0 11.6-29.1 21-65.1 21s-65.1-9.4-65.1-21c0-3.9 3.3-7.6 9-10.7"/>
      </g>
      <g id="cup" transform="translate(78)">
        <g id="Group">
          <path class="st2" d="M.9 85.4s13.4 121.3 15.2 142c.8 9.3 24.9 16.9 55.6 16.9s55.4-7.5 55.6-16.9c.5-23.3 12.3-142 12.3-142"/>
          <path class="st2" d="M127.9 215.2c0 9.3-25.3 16.9-56.6 16.9s-56.4-7.5-56.4-16.9"/>
          <path class="st2" d="M138.8 93.1h15.5c16.6 0 27.1 11.1 27.1 24.9 0 16.4-10.5 24.9-27.1 24.9H134l4.8-49.8z"/>
          <ellipse class="st2" cx="70.2" cy="85.4" rx="69.4" ry="16.9"/>
        </g>
        <g id="Group_1_">
          <path class="st2" d="M.9 85.4s13.4 121.3 15.2 142c.8 9.3 24.9 16.9 55.6 16.9s55.4-7.5 55.6-16.9c.5-23.3 12.3-142 12.3-142"/>
          <path class="st2" d="M127.9 215.2c0 9.3-25.3 16.9-56.6 16.9s-56.4-7.5-56.4-16.9"/>
          <path class="st2" d="M138.8 93.1h15.5c16.6 0 27.1 11.1 27.1 24.9 0 16.4-10.5 24.9-27.1 24.9H134l4.8-49.8z"/>
          <ellipse class="st2" cx="70.2" cy="85.4" rx="69.4" ry="16.9"/>
        </g>
      </g>
    </g>
  </g>
</svg>