section(class="findYourCoffee")
  div(class="findYourCoffee__cupWrapper")

  div(class= "findYourCoffee__contentWrapper")
    div(class="findYourCoffee__contentHeader")
      h1(class="findYourCoffee__headerOnTitle") TROUVEZ
      h2(class="findYourCoffee__headerTitle") Votre café idéal
      p(class="findYourCoffee__headerText") Découvrez le café qui vous correspond le mieux à travers une expérience en quelques réponses.

    div(class="findYourCoffee__contentQuizz")
      div(class="findYourCoffee__quizzQuestions")

        div(class="quizzQuestions__question question__first")
          div(class="quizzQuestions__questionTitle italic") Comment aimez-vous votre café ?
          div(class="quizzQuestions__questionContent")

        div(class="quizzQuestions__buttons")
          div(class="quizzQuestions__buttonsPrevious button")
            a(href="#" title="Question précédente") Précédent
          
          div(class="quizzQuestions__buttonsNext button") 
            a(href="#" title="Question suivante") Suivant
          
          div(class="quizzQuestions__buttonsValidate button") 
            a(href="#" title="Valider et découvrir ma capsule") Découvrir ma capsule
