section.findYourCoffee
  .findYourCoffee__cupWrapper
    include ./coffee-cup-svg.pug

  .findYourCoffee__contentWrapper
    .findYourCoffee__contentHeader
      h1.findYourCoffee__headerOnTitle TROUVEZ
      h2.findYourCoffee__headerTitle Votre café idéal
      p.findYourCoffee__headerText Découvrez le café qui vous correspond le mieux à travers une expérience en quelques réponses.

    .findYourCoffee__contentQuizz
      .findYourCoffee__quizzQuestions

        .quizzQuestions__question question__first
          .quizzQuestions__questionTitle.italic Comment aimez-vous votre café ?
          .quizzQuestions__questionContent

        .quizzQuestions__buttons
          .quizzQuestions__buttonsPrevious.button
            a(href="#" title="Question précédente") Précédent
          
          .quizzQuestions__buttonsNext.button 
            a(href="#" title="Question suivante") Suivant
          
          .quizzQuestions__buttonsValidate.button 
            a(href="#" title="Valider et découvrir ma capsule") Découvrir ma capsule
