include ../partials/header.pug

section(class='hero')
    div(class="hero__scrollIndication")
      a(href="#" class='hero__imgScroll')
        img(src="../img/scroll-down.svg", alt="Scroll down")
    
    div(class="hero__capsule")
      img(src="../img/n-logo-nespresso.png", alt="N nespresso", class="logoBackground")
      a(href="#" class='hero__capsulePath')
        img(src="../img/capsule-trace-nespresso.svg", alt="Capsule tracé nespresso", class="capsulePath")


include ./coffeeOrigins.pug


     
      
      
  
  //- p(class="countriesSlider__description") 6 capsules créés à partir du café de ce pays :

  //- div(class="countriesSlider__capsules")
  //-   ul(class="countriesSlider__capsule")
  //-     li(class="capsule capsule__left")
  //-       div(class="capsule__image")
  //-         img(src="", alt="")
  //-       div(class="capsule__description")
  //-         div(class="capsule__descriptionTitle") RISTRETTO
  //-         div(class="capsule__descriptionText") Intense et Boisé
      
//-       li(class="capsule capsule__left")
//-         div(class="capsule__image")
//-           img(src="", alt="")
//-         div(class="capsule__description")
//-           div(class="capsule__descriptionTitle") RISTRETTO
//-           div(class="capsule__descriptionText") Intense et Boisé

//-       li(class="capsule capsule__left")
//-         div(class="capsule__image")
//-           img(src="", alt="")
//-         div(class="capsule__description")
//-           div(class="capsule__descriptionTitle") RISTRETTO
//-           div(class="capsule__descriptionText") Intense et Boisé
      
//-     ul(class="countriesSlider__capsule")
//-       li(class="capsule capsule__left")
//-         div(class="capsule__image")
//-           img(src="", alt="")
//-         div(class="capsule__description")
//-           div(class="capsule__descriptionTitle") RISTRETTO
//-           div(class="capsule__descriptionText") Intense et Boisé
      
//-       li(class="capsule capsule__left")
//-         div(class="capsule__image")
//-           img(src="", alt="")
//-         div(class="capsule__description")
//-           div(class="capsule__descriptionTitle") RISTRETTO
//-           div(class="capsule__descriptionText") Intense et Boisé

//-       li(class="capsule capsule__left")
//-         div(class="capsule__image")
//-           img(src="", alt="")
//-         div(class="capsule__description")
//-           div(class="capsule__descriptionTitle") RISTRETTO
//-           div(class="capsule__descriptionText") Intense et Boisé

//- section(class="greatWine")
//-   h3(class='greatWine__title') Grands crus origine
//-   p(class='greatWine_description') Transitions feuilles « jungle » entre les deux
      
    



include ../partials/footer.pug
