include ../partials/header.pug
section(class='hero')
  div(class="hero__scrollIndication")
    div(class="hero__scrollDown") Scroll Down
    //- div(class="hero__scrollindicator")

include ../partials/footer.pug
