section(class="meetEmployees")
  div(class="meetEmployees__header")
    h1 RENCONTREZ

  div(class="meetEmployees__employees")
    div(class="employees__employee")
      div(class="employee__name blue") Miguel Alvarez
      div(class="employee__country italic gold")
        span |
        span Brésil
      
      p(class="employee__quote") Nespresso respecte la qualité de mon travail et m’accompagne au quotidien dans la production de mon café.

      div(class="employee__icons")
        div(class="icons__icon")
          img(src="../img/meet_employees/icons/sun.svg", alt="Jours d'ensoleillement")
          div(class="icon__data blue") 165 jours / an

        div(class="icons__icon")
          img(src="../img/meet_employees/icons/altitude.svg", alt="Altitude")
          div(class="icon__data blue") 590 m

        div(class="icons__icon")
          img(src="../img/meet_employees/icons/rain.svg", alt="Jours de pluie")
          div(class="icon__data blue") 149 jours / an
      
      div(class="employee__slider")
        div(class="slider__arrows arrows")
          a(href="", title="")
            img(src="../img/arrow-left.png", alt="arrow left")
          a(href="", title="")
              img(src="../img/arrow-right.png", alt="arrow right")
    
        div(class="slider__counter") - 1 / 3