section(class="meetEmployees")
  div(class="coffeeFamilies__header")
    h1 EXPÉRIMENTEZ
    h2 Un café qui a de l'âme
    p Trois familles aromatiques de café mise au point pour une plus grande palette de goûts à déguster.

  div(class="coffeeFamilies__coffeBeans")