section(class="meetEmployees")
  div(class="meetEmployees__farmerWrapper")
    img(src="../img/meet_employees/employees-humberto-galeano-coffee-farmer.jpg", alt="Humberto Galeano")

  div(class="meetEmployees__contentWrapper")
    div(class="meetEmployees__header")
      h1 RENCONTREZ

    div(class="meetEmployees__employees")
      div(class="employees__employee")
        div(class="employee__name blue") Humberto Galeano
        div(class="employee__country italic gold")
          span |
          span(class="country__span") Brésil
        
        p(class="employee__quote") Nespresso respecte la qualité de mon travail et m’accompagne au quotidien dans la production de mon café.

        div(class="employee__icons")
          div(class="icons__icon")
            img(src="../img/meet_employees/icons/sun.svg", alt="Jours d'ensoleillement")
            div(class="icon__data icon__dataSun blue") 176 jours / an

          div(class="icons__icon")
            img(src="../img/meet_employees/icons/altitude.svg", alt="Altitude")
            div(class="icon__data icon__dataAltitude blue") 910 m

          div(class="icons__icon")
            img(src="../img/meet_employees/icons/rain.svg", alt="Jours de pluie")
            div(class="icon__data icon__dataRain blue") 135 jours / an
        
        div(class="employee__slider")
          div(class="slider__counter italic blue") - 1 / 3
          div(class="slider__arrows")
            div(class="arrows__arrowLeft slider__arrow")
              img(src="../img/arrow-left-white.svg", alt="arrow left")
            div(class="arrows__arrowRight slider__arrow")
              img(src="../img/arrow-right-white.svg", alt="arrow right")