section(class="understandIntensity")
  div(class="understandIntensity__header")
    h1 COMPRENEZ
    h2 L’intensité de votre café
    p Indépendante du pourcentage de caféine, l’intensité est définie en fonction du degré de torréfaction, du corps et de l'amertume. L’acidité quant-à elle lui apporte sa vivacité.
  
  div(class="understandIntensity__morphing")
    //- div(class="morphing__svg")
    //-   svg(width="280" height="280", viewBox="0 0 220 350")
    //-     g(transform="translate(100.000000, 36.000000)")
    //-       polygon(id="Rectangle-5", fill="#252525", mask="url(#mask-2)", transform="translate(17.806520, 166.232435) rotate(-75.000000) translate(-147.806520, -166.232435)", points="11.5935372 50.4947138 280.436291 20.7222909 284.019504 221.116548 113.23901 311.742579")
    //-       polygon(id="Rectangle-4", fill="#2F2F2F", mask="url(#mask-2)", transform="translate(18.729354, 165.501952) rotate(-75.000000) translate(-148.729354, -165.501952)", points="39.654727 72.8647079 254.934668 49.0346621 257.803981 209.431562 121.048892 281.969242")
    //-       polygon(id="Rectangle-3", fill="#393939", mask="url(#mask-2)", transform="translate(13.365088, 160.296700) rotate(-75.000000) translate(-143.365088, -160.296700)", points="61.8725503 90.9017756 222.713886 73.0505943 224.857625 193.204544 122.684283 247.542806")
    //-       polygon(id="Rectangle-1", fill="#434343", mask="url(#mask-2)", transform="translate(14.131754, 159.518546) rotate(-75.000000) translate(-144.131754, -159.518546)", points="88.9675746 112.701874 197.844786 100.658733 199.295933 181.719532 130.13244 218.378359")
    //-       polygon(id="Rectangle-1", fill="#4D4D4D", mask="url(#mask-2)", transform="translate(14.284554, 160.538471) rotate(-75.000000) translate(-144.284554, -160.538471)", points="112.52336 133.311754 175.21024 126.307941 176.045749 173.449682 136.224343 194.769")
    //-       polygon(id="line", fill="none", stroke-width="1", stroke="#CBA15A", transform="translate(9.364631, 176.397440) rotate(-75.000000) translate(-139.364631, -176.397440)", points="43.8393801 90.341729 135.410168 263.154963 211.549075 198.991031 235.098937 89.361423")
    
    div(class="morphing__svg")
      svg(width='200', height='200', viewbox='0 0 140 140')
        g(fill='none', fill-rule='evenodd')
          g(fill='currentColor', fill-opacity='.15', transform='translate(0 6)')
            polygon(id="Rectangle-4" points='70 0 136.574 48.369 111.145 126.631 28.855 126.631 3.426 48.369')
            polygon(id="Rectangle-3" points='70 18 119.455 53.931 100.565 112.069 39.435 112.069 20.545 53.931')
            polygon(id="Rectangle-2" points='70 34.86 101.727 57.911 89.609 95.209 50.391 95.209 38.273 57.911')
            polygon(id="Rectangle-1" points='70 50.898 84.864 61.697 79.186 79.171 60.814 79.171 55.136 61.697')
          polygon.polymorph(id="line" style='color:#CBA15A;' stroke-width='1', stroke='currentColor', points='70 25.05248090092873 119.51208935876889 60.3070893587689 100.82601705354212 118.55965961846653 51.474106412311016 100.57851909907127 4.478480900928731 54.74046384738661 ')

 
    div(class="morphing__infos")
      div(class="infos__info")
        span Amertume
        span(class="info__arrow")
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p(class="italic")
      
      div(class="infos__info info--active")
        span Acidité
        span(class="info__arrow")
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p(class="italic") Saveur de base perçue sur les papilles de la langue, donne de la vivacité au café.

      div(class="infos__info")
        span Corps
        span(class="info__arrow")
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p(class="italic")

      div(class="infos__info")
        span Torréfaction
        span(class="info__arrow")
          img(src="../img/arrow-down-white.svg", alt="Afficher le contenu")
        p(class="italic")

