footer(class='footer')
  div(class="footer__container")
    div(class='footer__logo')
      img(src="img/logo_footer.png", alt="" class="footer__logoImg")
    hr(class='footer__separtor')
    div(class="footer__content")

      div(class="footer__contentTop")
        ul(class="contentTop__toplist")
          li(class="contentTop__listEl")
            a(href="#") Contact 
          li(class="contentTop__listEl")
            a(href="#") Évenement
          li(class="contentTop__listEl")
            a(href="#") Nespresso Professionnel
          li(class="contentTop__listEl")
            a(href="#") Point de vente
          li(class="contentTop__listEl")
            a(href="#") Entreprise durable
          li(class="contentTop__listEl")
            a(href="#") Communication technique
          li(class="contentTop__listEl")
            a(href="#") Carrières
          li(class="contentTop__listEl")
            a(href="#") Charte de concurrence

      div(class="footer__bot")
        div(class="footer__botSocialMedia") 
          span(class="footer__botSocialMedia__text") Suivez-nous
          span(class="footer__botSocialMedia__icons")
            a(href="#")
              img(src="img/instagram-logo.svg", alt="")
          span(class="footer__botSocialMedia__icons")
            a(href="#")
              img(src="img/facebook-logo.svg", alt="")
          span(class="footer__botSocialMedia__icons")
            a(href="#")
              img(src="img/twitter-logo.svg", alt="")
        
        div(class="footer__lawInfos")
            a(href="#") Mentions-légales 
            span(class="footer__lawInfos__separtor")
            a(href="#") Cookies
            span(class="footer__lawInfos__separtor")
            a(href="#") Conditions générale de vente
        

        div(class="footer__Copyright") Copyright 2016-2017 - Nespresso<br>All Rights Reserved

  script(async src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.2.0/anime.js")
  script(async src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.min.js")
  script(async src="https://rawgit.com/Wlada/vue-carousel-3d/master/dist/vue-carousel-3d.min.js")
  script(async src="js/script.js")






  //- <footer>
  //-   <h2>This is the footer</h2>
  //-     <script type="text/javascript" src="js/script.js"></script>
  //- </footer>
  //- scri
  //- </body>
  //- </html>