<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Titre du projet
    link(rel="stylesheet", href="css/styles.css")
  body
    div(class="container")
      header(class="header")
        img(src="../img/logo.png", alt="logo nesspresso" class='logo')

        a(href="#" class='header__callToAction') Trouver votre café
        






//- <!DOCTYPE html>
//- <html>
//-   <head>
//-   <meta name="viewport"content="width=device-width, initial-scale=1">

//-     <title>Gulp test</title>
//-     <link rel="stylesheet" type="text/css" href="css/styles.css">
//-     <script type="text/javascript" src="js/script.js"></script>
//-   </head>
//-   <body>
//-     <header>
//-       <h2>This is the header!</h2>
//-     </header>
