<!DOCTYPE html>
html(lang="fr")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width,initial-scale=1,user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Nespresso | Votre café idéal
    link(rel="icon", href="../img/favicon-nespresso.ico")
    link(rel="stylesheet", href="css/styles.css")
    script(async src="js/script.js")
  body
    div(class="container")
      header(class="header")
        a(href="#")
          img(src="../img/logo-nespresso.png", alt="logo nesspresso" class='logo')

        a(href="#" class='header__callToAction') Trouver votre café
    